<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Fine Food Reviews</title>
    <link rel="stylesheet" type=""text/css" href="{{ url_for('static', filename='main.css') }}" />
    <!-- <link rel="stylesheet" href="static/main.css"> -->
</head>
<body>
    <div class="title">
        <a href="{{ url_for('index') }}">
            <center>
                <h1 id="title-name">Sementic Textual Similarity</h1>
            </center>
        </a>
	</div>
    <br>
    <br>
    <br>
    <div>
        <center>
            <form action="/predict" method="POST">
                <textarea name="review_text_1" rows="10" cols="40" placeholder = "Enter Text 1"></textarea>
                <textarea name="review_text_2" rows="10" cols="40" placeholder = "Enter Text 2"></textarea>
                <br>
                <br>
                <input id="enter_button" type="submit" value="Enter">
            </form>
            <br>
            <br>
            {% if prediction %}
                <label class="predict-label">Similarity Score : <label class="predict">{{prediction}}</label> </label>
            {% endif %}
        </center>
    </div>
</body>
</html>